:root {
  --dark: #fff;
  --bg: #fff;
  --color: #000;
  --page: #000;
  --page-color: #fff;
}

[data-theme="dark"] {
  --dark: #000;
  --bg: #000;
  --color: #fff;
  --page: #fff;
  --page-color: #000;
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: var(--bg);
  color: var(--color);
}

.nav ul {
  width: 100%;
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

.nav ul li {
  display: inline;
  margin-right: 25px;
  font-size: 20px;
  font-weight: 500;
}

.nav a {
  color: var(--color);
  text-decoration: none;
  padding-bottom: 10px;
}

.nav a:active,
.nav a:hover {
  border-bottom: 2px solid black;
}

.section {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  font-size: 2rem;
}

.profile {
  width: 300px;
  height: 300px;
}

a {
  color: var(--color);
  text-decoration: none;
}

.cnt {
  a {
    color: white;
  }
}

.aboutPro {
  border-radius: 25px;
  width: 320px;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("portfolio/src/assets/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 85vh;
}

.map {
  height: 65vh;
  width: 40vw;
  border-radius: 25px;
}

.text-indent {
  text-indent: 20px;
}

.toggler {
  position: fixed;
  bottom: 50px;
  right: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.toggler .rotate {
  transform: rotate(90deg);
}

@media only screen and (max-width: 768px) {
  .profile {
    width: 300px;
    height: 300px;
    margin-top: 70px;
    text-align: center;
  }

  .section {
    height: auto;
    margin-bottom: 40px;
  }

  .section:nth-of-type(5) {
    margin-bottom: 0px;
  }

  .aboutPro {
    width: 300px;
  }

  .contact {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url("portfolio/src/assets/4.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
  }

  .map {
    width: 100vw;
    height: 40vh;
  }
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  background-color: var(--page);
  color: var(--page-color);
}

.page-link:hover {
  background-color: var(--page);
}

.active .page-link {
  background-color: var(--bg);
  color: var(--page-color);
}

.disabled .page-link {
  color: #6c757d;
}

.card {
  position: relative;
  overflow: hidden;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-details {
  opacity: 1;
}
